*{
    margin:0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
header{
    display: flex;
    background-color: peachpuff;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #6c6c75;
}
.myntra_home{
    height: 36px;
    width: 53px;
}
.logo{
    margin-left: 4%;
}
.nav_bar{
    display: flex;
    min-width: 500px;
    justify-content: space-between;
    align-items: center;
}
.nav_bar a{
    font-size: 14px;
    letter-spacing: .3px;
    color:black;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 32px 0px;
}
.nav_bar a:hover{
    border-bottom: 5px solid rgb(134, 102, 107);
}
.nav_bar a sup{
    font-size:10px ;
    color: red;
}



.search_bar{
    height: 40px;
    min-width: 200px;
    display: flex;
    align-items: center;
    width: 300px;
}
.search_icon{
    box-sizing: content-box;
    height: 20px;
    padding: 10px;
    background-color: #f5f5f6;
    color: black;
    font-weight: 700;
    border-radius: 5px 0px 0px 5px;
}
.search_input{
    background-color: #f5f5f6;
    flex-grow: 1;
    height: 40px;
    border: 0;
    border-radius: 0px 5px 5px 0px;
}


.action_bar{
    margin-right: 4%;
    min-width: 100px;
    display: flex;
    justify-content: space-between;
}
.action_continer{
    align-items: center;

}
.action_image{
    background-color: white;
    height: 20px;
    align-items: cent;
}
.banner_continer{
    margin: 40px 0px;
}
.banner_image{
    width: 100%;
}
.category_heading{
    text-transform: uppercase;
    color: rgb(27, 26, 26);
    margin: 50px 0px 10px 30px;
    font-weight: 700;
}
.category_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    
}
.category_items a img{
    width: 250px;
    
}
.discount{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    
}
.discount a img{
    width: 250px;
}
.footer_continer{
    padding: 30px 0px 40px 0px;
    background-color: #FAFBFC;
    display: flex;
    justify-content: space-evenly;
}   
.footer_col{
    display: flex;
    flex-direction: column;
}
.footer_col h3{
    color: black;
    padding-bottom: 5px;
}
.footer_col a{
    text-decoration: none;
    color: black;
    font-weight: 300;
}
.play{
    height: 50px;
    padding-bottom: 3px;
}
.copyri{
    display: flex;
    justify-content: space-between;
}

